<section class="no-padding" id="blog"> 
	<aside class="bg-dark">
		<div class="container text-center">
		  <div class="call-to-action">
			  <h2>Latest Posts</h2>
			  <hr class="primary">
		  </div>
		</div>
		<div class="container text-center">
			<ul style="list-style-type:none;padding-left:0;">
				{% for post in site.posts %}
					{% if forloop.index > 8 %} {% break %} {% endif %}
					<li>
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<p>{{ post.excerpt }}</p>
					</li>
				{% endfor %}
			</ul>
		</div>
	</aside>
</section>