<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">You've come to the right place!</h2>
                <hr class="light">
                <p class="text-faded">Feel free to explore the website and learn about me and what I've been up to over my life.</p>
				<p class="text-faded">You'll find content about me, my personal life, my business life, etc.</p>
				<p class="text-faded">So scroll down to learn more!</p>
				<a class="page-scroll btn btn-default btn-xl" href="#portfolio">Start the journey!</a>
            </div>
        </div>
    </div>
</section>
