---
layout: default
---
<article>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-1 mx-auto"></div>
			<div class="col-lg-6 col-md-10 mx-auto">
				<h1 class="post-title" style="margin-top:50px"><b>{{ page.title }}</b></h1>
				<h4 class="post-subtitle">By: {{ page.author }}</h4>
				<h5 class="post-subtitle">{{ page.date | date_to_string }}</h5>
				<br>
				<hr>
				{{ content }}
			</div>
			<div class="col-lg-2 col-md-1 mx-auto"></div>
		</div>
	</div>
</article>
<section style="padding-bottom:0px">
{% include blog.html %}
</section>